.FormPart {
  flex: 1 0 auto;
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  * {
    margin: 0px;
  }

  .SubHeadline {
    width: fit-content;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    border-bottom: 2px solid #7887f5;
    margin-bottom: 2px;
    color: #7887f5;
    margin: 0.5rem;
  }

  .Inputs {
    max-width: 300px;
    margin-right: 0.5rem;
  }

  img {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .Button {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .SubmitButton {
    width: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    justify-self: flex-end;
  }
}
