.FormPart {
  min-height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  * {
    margin: 0px;
  }

  .SubHeadline {
    width: fit-content;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    border-bottom: 2px solid #7887f5;
    margin-bottom: 2px;
    color: #7887f5;
    margin: 0.5rem;
  }

  .Description {
    flex: 1 0 auto;
  }
}
